    <section class="resume-section" id="cover-letter-section">
        <div class="resume-container cover-letter-container">
            <div class="resume-header">
                <h1>Who am I?</h1>
                <button class="close-resume" id="close-cover-letter">
                    <i class="fas fa-times"></i>
                </button>
            </div>
            
            <div class="resume-content cover-letter-content">
                    <div class="experience-item">
                        <div class="experience-header">
                            <div>
                                <h3 class="job-title">Hi, I'm Arezou.</h3>
                            </div>
                            <span class="date">"Creative and professional problem solver"</span>
                        </div>
                        <div class="description">
                            <p>Wherever they might be and whatever they may entail, I am a multi-talented creative committed to delivering effective, exciting and engaging solutions.</p>
                                <br>
                                <p>From interactive mall kiosks to launching an entirely new product range from scratch, I have done it all.</p>
                                <br>
                                <p>With over five years of experience in the print and design industry, I have developed a strong skill set in project management, graphic design, game development and sales.
                                    <br>
                                    My background allows me to approach projects with an advanced understanding of both the creative and technical aspects paired with a neverending passion to see it through.</p>
                                <br>
                                <p>Come take a look around,</p>
                                <p><strong>I am certain I have a solution waiting for you.</strong></p>
                            
                            </p>
                        </div>       
                    </div>

                    <div class="cover-letter-actions">
                <div class="action-buttons cover-letter-buttons">
                    <a href="#" class="action-btn resume-btn" id="show-resume-from-letter">
                        <i class="fas fa-file-alt"></i> Resume
                    </a>
                    <a href="#" class="action-btn portfolio-btn" id="show-portfolio-from-letter">
                        <i class="fas fa-briefcase"></i> Portfolio
                    </a>
                </div>

                <div class="navigation-wrapper">
                            <nav class="cover-navigation navigation--social">
                                <ul class="navigation">
                                    <li class="navigation__item">
                                        <a href="https://www.instagram.com/arezoubhabha/" title="@arezoubhabha on Instagram" target="_blank">
                                            <i class="fab fa-instagram"></i>
                                        </a>
                                    </li>
                                    <li class="navigation__item">
                                        <a href="https://twitter.com/arezoubhabha" title="@ArezouBhabha on Twitter" target="_blank">
                                            <i class="fab fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li class="navigation__item">
                                        <a href="https://www.linkedin.com/in/arezoubhabha" title="Arezou Bhabha on LinkedIn" target="_blank">
                                            <i class="fab fa-linkedin-in"></i>
                                        </a>
                                    </li>
                                    <li class="navigation__item">
                                        <a href="https://www.github.com/ArezouBhabha" title="ArezouBhabha" target="_blank">
                                            <i class="fab fa-github"></i>
                                        </a>
                                    </li>
                                    <li class="navigation__item">
                                        <a href="mailto:arezoubhabha@gmail.com" title="Email arezoubhabha@gmail.com" target="_blank">
                                            <i class="fas fa-envelope"></i>
                                        </a>
                                    </li>
                                    <li class="navigation__item">
                                        <a href="https://www.youtube.com/@ArezouBhabha" title="Arezou Bhabha on Youtube" target="_blank">
                                            <i class="fab fa-youtube"></i>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
            </div>
        </div>
    </section>
